python-dotenv
groq
AppOpener
pywhatkit
pillow
requests
Keyboard
cohere
googlesearch-python
selenium>=4.15.0
mtranslate
pygame
edge-tts
PyQt5
webdriver-manager>=4.0.0
send2trash
SpeechRecognition
pyttsx3
pyaudio
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
opencv-python
mss
psutil
numpy